
<link rel="stylesheet" href="css/bootstrap.min.css">
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">The Scottish Pantry Network</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                {{#loggedIn}}
                    <a class="nav-link" href="/logout">Log Out</a>
                {{/loggedIn}}
                {{^loggedIn}}
                    <a class="nav-link" href="/login">Sign In</a>
                {{/loggedIn}}
            </li>
        </ul>
    </div>
</nav>