<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    {{> dashboard}}
    <header>
        <h1>{{ title }}</h1>
        <!-- Add any navigation links or other header content here -->
    </header>

    <main>
        <section>
            <h2>We are here to help!</h2>
            <p>
                Our commitment to help diffrent food panties across Scotland so everyone is able to eat. 
            </p>
            If you want to help please contact us from the about us page and we may be able to set you up as someone who can supply to the many pantries looking for help.
        </section>
    </main>

    <footer>
        <p>&copy; 2024 The Scottish Pantry Network. All rights reserved.</p>
    </footer>
</body>
</html>